.parent > div {
  border-style: solid;
  height: 20rem;
}
@media only screen and (max-width: 1000px) {
  .parent > div {
    border-style: solid;
    height: 20rem;
    margin-top: 10px;

  }
  .parent {
    margin-top: 10vh;
  }
}
@media only screen and (min-width: 1000px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 10vh;
  }

  .div1 {
    grid-area: 1 / 1 / 4 / 4;
  }
  .div2 {
    grid-area: 1 / 4 / 4 / 6;
  }
  .div3 {
    grid-area: 1 / 6 / 4 / 8;
  }
  .div4 {
    grid-area: 4 / 1 / 7 / 4;
  }
  .div5 {
    grid-area: 4 / 4 / 7 / 6;
  }
  .div6 {
    grid-area: 4 / 6 / 7 / 8;
  }
  .div7 {
    grid-area: 7 / 1 / 10 / 4;
  }
  .div8 {
    grid-area: 7 / 4 / 10 / 6;
  }
  .div9 {
    grid-area: 7 / 6 / 10 / 8;
  }
}
